Añadir comentario: <p>

<form method="post" action="/quizes/<%= quizid %>/comments/" >
   <textarea type="text" id="comment" name="comment[texto]" value="" cols="40" rows="5" style="resize: none" ></textarea>   
   <br/>
   <button type="submit">Enviar</button>
</form>
