<FORM action="/quizes/<%= quiz.id %>/answer" method="GET">
  <p>Pregunta: <%= quiz.pregunta %></p>
  <INPUT type="text" name="respuesta" id="respuesta" value=""></INPUT>
  <INPUT type="submit"></INPUT>
</FORM>
